body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: lightgrey;
    color: grey;
    width: 50%;
    height: 30px;
    padding: 8px;
}

a {
    color: grey;
}

a:hover {
    color: orange
}

article {
    background-color: lightgrey;
    color: grey;
    width: 50%;
    min-height: 30px;
    padding: 8px;
}

input[type="text"],
input[type="email"],
textarea,
button {
    display: block;
    margin: 10px 0px;
    width: 300px;
}

textarea {
    height: 100px;
    padding: 5px 5px;
}

button:hover {
    background-color: #FFCC00;
}

button:active {
    background-color: #FF9900;
}

footer {
    background-color: lightgrey;
    color: grey;
    width: 50%;
    height: 30px;
    padding: 8px;
}

#img1 {
    width: 300px;
    border: 2px solid orange;
}

table {
    margin: 4px;
    padding: 4px;
}

th {
    background: white;
    color: black;
}